* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: #0f0f0f;
}

/* Icon button */

.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button:hover {
    background-color: #8080804d;
}

.button img {
    width: 24px;
    height: 24px;
}

/* Top app bar */

nav {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

nav .leading {
    display: flex;
    align-items: center;
    gap: 16px;
}

nav .headline {
    width: 43%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.search-bar {
    /* The button after search bar seems narrowed so button width + gap width reduced from search bar length */
    width: calc(100% - 56px);
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border: 1px solid #d3d3d3;
    border-radius: 28px;
}

.search-bar .input-field {
    width: 100%;
    font-size: 15.7px;
    background: transparent;
    outline: 0;
    border: none;
    padding-right: 10px;
}

.search-bar .input-field::placeholder {
    color: #888888;
    /* Firefox */
    opacity: 1;
}

.search-bar .input-field::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: #888888;
}

.search-bar .trailing {
    height: 100%;
    padding: 0px 16px;
    background-color: #f0f0f0;
    border-left: 1px solid #d3d3d3;
    border-radius: 0px 28px 28px 0px;
    cursor: pointer;
}

.search-bar .trailing:hover {
    background-color: #8080804d;
}

.search-bar .trailing img {
    width: 24px;
    height: 24px;
}

.headline .button {
    background-color: #f2f2f2;
}

.headline .button:hover {
    background-color: #8080804d;
}

nav .trailing {
    display: flex;
    align-items: center;
    gap: 8px;
}

nav .trailing .profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0px 10px;
    cursor: pointer;
}

/* Container */

.container {
    width: 100%;
    /* Reduced top app bar height from container height */
    height: calc(100vh - 56px);
    position: fixed;
    /* Top app bar height */
    top: 56px;
    display: flex;
}

/* Left sidebar */

.sidebar {
    /* Reduced scrollbar width from sidebar width */
    width: calc(248px - 8px);
    padding: 0px 10px;
    overflow-y: scroll;
}

.sidebar .divider {
    border-top: 1px solid #e5e5e5;
    margin: 12px 0px;
}

.sidebar .title {
    font-weight: 550;
    font-size: 15px;
    padding: 8px 14px;
}

.sidebar .streaming img {
    width: 18px;
    height: 18px;
}

.sidebar-item {
    height: 40px;
    padding: 0px 14px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 14px;
    cursor: pointer;
}

.sidebar-item:hover {
    background-color: #8080804d;
}

.sidebar-item img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.sidebar-item span {
    width: 100%;
    /* Set single line */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-item-selected {
    background-color: #8080804d;
    font-weight: bold;
}

.sidebar-item-title {
    font-weight: 550;
    font-size: 15px;
}

.sidebar-item-title img {
    width: 20px;
    height: 20px;
    margin-left: -18px;
}

/* Sidebar scrollbar */

.sidebar::-webkit-scrollbar {
    width: 8px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
    background: #909090;
}

/* sidebar footer */

.sidebar .footer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0px 14px;
}

.sidebar .footer a {
    color: #606060;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    text-decoration: none;
}

.sidebar .copyright {
    font-size: 12px;
    font-weight: 400;
    padding: 0px 14px;
    color: #90929a;
}

.content {
    /* Reduced sidebar width from content width */
    width: calc(100% - 240px);
    overflow-x: auto;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
    grid-gap: 14px;
    padding: 24px;
}

.video-item {
    width: 100%;
}

.video-item a {
    color: #0f0f0f;
    text-decoration: none;
}

.video-item .thumbnail-container {
    position: relative;
}

.video-item .thumbnail {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 14px;
}

.video-item .duration {
    background-color: #0000007c;
    color: white;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 4px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.video-item .details {
    display: flex;
    gap: 10px;
    margin: 10px 0px;
}

.video-item .leading {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.video-item .headline {
    width: 100%;
}

.video-item .title {
    font-weight: 600;
    line-height: 20px
}

.video-item .subtitle {
    font-size: 14px;
    color: #606060;
}

.video-item .trailing {
    width: 24px;
    height: 24px;
}