* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, Arial, sans-serif;
    color: #191919;
    background-color: #f0f2f5;
}

/* Top appbar */

nav {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 16px;
    background: white;
    box-shadow: 2px 2px 5px #e6dcdc;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

nav .leading {
    flex-basis: 25%;
    display: flex;
    align-items: center;
    gap: 8px;
}

nav .leading .logo {
    width: 40px;
    height: 40px;
}

.search-bar {
    width: 250px;
    height: 40px;
    background: #f0f2f5;
    display: flex;
    align-items: center;
    border-radius: 28px;
    padding: 0px 15px;
}

.search-bar img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.search-bar .input-field {
    width: 100%;
    font-size: 14.7px;
    background: transparent;
    outline: 0;
    border: none;
}

nav .headline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

nav .headline .headline-item {
    width: 100px;
    height: 48px;
    align-content: center;
    background-color: white;
    border-radius: 10px;
}

nav .headline .headline-item:hover {
    background-color: #0000000d;
}

nav .headline .headline-item img {
    width: 24px;
    height: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav .trailing {
    flex-basis: 25%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

nav .trailing .trailing-item {
    width: 40px;
    height: 40px;
    align-content: center;
    background-color: #d8dadf;
    border-radius: 50%;
}

nav .trailing .trailing-item img {
    width: 20px;
    height: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav .trailing .badge {
    position: relative;
}

nav .trailing .badge::after {
    display: flex;
    align-items: center;
    justify-content: center;
    content: '5';
    font-size: 13px;
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #e41e3f;
    position: absolute;
    top: -5px;
    right: -6px;
}

/* Content */

.container {
    width: 100%;
    /* Reduced top app bar height from container height */
    height: calc(100vh - 56px);
    position: fixed;
    /* Top app bar height */
    top: 56px;
    display: flex;
    justify-content: space-between;
}

/* Left sidebar */

.left-sidebar {
    flex-basis: 23%;
    overflow-y: auto;
    padding: 14px 10px;
}

/* Left sidebar scrollbar */

.left-sidebar::-webkit-scrollbar {
    width: 8px;
}

.left-sidebar:hover::-webkit-scrollbar-thumb {
    background: #bcc0c4;
    border-radius: 10px;
}

/* Left sidebar item */

.left-sidebar .item {
    display: flex;
    align-items: center;
    padding: 8px 6px;
    border-radius: 10px;
    cursor: pointer;
}

.left-sidebar .item:hover {
    background-color: #0000000d;
}

.left-sidebar .item .icon {
    width: 36px;
    height: 36px;
    margin-right: 16px;
}

.left-sidebar .item .profile {
    width: 36px;
    height: 36px;
    margin-right: 16px;
    border-radius: 50%;
}

.left-sidebar .item span {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.left-sidebar .item .button {
    width: 36px;
    height: 36px;
    background-color: #d8dadf;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.left-sidebar .item .button img {
    width: 18px;
    height: 18px;
}

/* Posts */

.main-content {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 24px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Posts scrollbar */

.main-content::-webkit-scrollbar {
    display: none;
}

/* Stories */

.stories {
    width: 100%;
    min-height: 240px;
    display: flex;
    gap: 10px;
    position: relative;
    overflow-x: auto;
}

.stories::-webkit-scrollbar {
    display: none;
}

.story {
    min-width: 135px;
    height: 240px;
    border-radius: 10px;
    background-color: white;
    font-size: 14px;
    overflow: hidden;
    position: relative;
}

.story .story-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.story .story-divider {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.39);
    top: 0;
    left: 0;
    z-index: 1;
}

.story .story-profile {
    width: 40px;
    height: 40px;
    border: 4px solid #075ce5;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.story p {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 2;
}

.story-create {
    min-width: 135px;
    height: 240px;
    border-radius: 10px;
    background-color: white;
    font-size: 14px;
    overflow: hidden;
    position: relative;
}

.story-create .story-image {
    width: 100%;
    height: 80%;
    object-fit: fill;
    position: absolute;
}

.story-create .story-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: calc(80% - 18px);
    left: calc(50% - 18px);
    border: 4px solid white;
}

.story-create p {
    color: black;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}

/* New post */

.new-post {
    border-radius: 10px;
    background: white;
    padding: 10px;
}

.create-post {
    display: flex;
    align-items: center;
    gap: 10px;
}

.create-post img {
    width: 40px;
    border-radius: 50%;
}

.create-post input {
    width: 100%;
    height: 45px;
    position: relative;
    border-radius: 50px;
    background: #f0f2f5;
    border: none;
    padding-left: 20px;
    font-size: 16px;
    outline: 0;
}

.divider {
    border: none;
    border-top: 0.5px solid #e4e6eb;
    margin: 12px 0px;
}

.create-more {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.create-more-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.create-more-item:hover {
    background: #0000000d;
}

.create-more-item img {
    width: 24px;
}

/* Posts */

.post-item {
    background: white;
    border-radius: 10px;
    padding: 12px 14px;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.author-profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.author-details {
    /* To push the buttons to end, also needs justify-content: space-between; in the parent */
    margin-right: auto;
}

.author-details .headline-content {
    color: #050505;
    font-size: 16px;
}

.author-details .supporting-content {
    color: #65676b;
    font-size: 14px;
}

.post-menu {
    display: flex;
    justify-content: end;
}

.post-menu .button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-menu .button:hover {
    background: #0000000d;
}

.post-menu .button img {
    width: 16px;
    height: 16px;
}

.post-text span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #050505;
}

.post-image {
    margin: 10px 0px;
}

.post-image img {
    width: calc(100% + 28px);
    margin-left: -14px;
    object-fit: fill;
}

.post-interactions {
    display: flex;
    position: relative;
    justify-content: space-between;
    color: #65676b;
}

.reaction-count {
    display: flex;
}

.reaction-count img {
    width: 18px;
    height: 18px;
}

.post-footer {
    display: flex;
    align-items: center;
}

.post-footer-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.post-footer-item:hover {
    background: #0000000d;
}

.post-footer-item img {
    width: 20px;
}

/* Right sidebar */

.right-sidebar {
    flex-basis: 23%;
    overflow-y: auto;
    padding: 14px 10px;
}

/* Right sidebar scrollbar */

.right-sidebar::-webkit-scrollbar {
    width: 8px;
}

.right-sidebar:hover::-webkit-scrollbar-thumb {
    background: #bcc0c4;
    border-radius: 10px;
}

.right-sidebar .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.right-sidebar .header span {
    color: #65666a;
    font-weight: bold;
    margin-left: 8px;
    /* To push the buttons to end, also needs justify-content: space-between; in the parent */
    margin-right: auto;
}

.right-sidebar .header .button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.right-sidebar .header .button:hover {
    background: #0000000d;
}

.right-sidebar .header .button img {
    width: 16px;
    height: 16px;
}

.list-friends {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.list-friends:hover {
    background-color: #0000000d;
}

.list-friends img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.list-friends .online::after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    left: 30px;
    bottom: 8px;
    background: #30a24d;
    border-radius: 50%;
    border: 2px solid white;
}

.list-friends p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}